
GUILE_BRIDGE_URL = string
OLLAMA_URL =  string
OLLAMA_MODEL_NAME = string
OLLAMA_REQUEST_TIMEOUT = integer
SECRET_KEY=string

AES_SECRET_KEY = string

JWT_SECRET_KEY=string
HMAC_SECRET_KEY=string

MAIL_SERVER = smtp.gmail.com
MAIL_PORT = 465  # 465 usa SSL, in alternativa usa 587 con TLS
MAIL_USE_SSL = True
MAIL_USE_TLS = False # Metti a True se usi la porta 587
MAIL_USERNAME = string
MAIL_PASSWORD = string

MAIL_DEFAULT_SENDER = string (uguale a MAIL_USERNAME)
