{% extends "base.html" %} {% block title %} Login - BuySellChain {% endblock %}
{% block scripts %}
<script defer src="{{ url_for('static', filename='js/auctions.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/assets.js') }}"></script>
{% endblock %} {% block content %}

<article class="grid">
	<div x-data="auctionForm">
		<hgroup>
			<h1>Crea Asta</h1>
			<h2>Compila i dettagli dell'asta</h2>
		</hgroup>

		<form @submit.prevent="create_auction()">
			<label for="startTime">
				Data Inizio Asta
				<input
					type="datetime-local"
					id="startTime"
					name="startTime"
					required
					x-model="startTime"
					@input="message = ''"
				/>
			</label>

			<label for="endTime">
				Data Fine Asta
				<input
					type="datetime-local"
					id="endTime"
					name="endTime"
					required
					x-model="endTime"
					@input="message = ''"
				/>
			</label>

			<label for="startPrice">
				Prezzo di Partenza
				<input
					type="number"
					id="startPrice"
					name="startPrice"
					placeholder="0.00"
					step="0.01"
					required
					x-model="startPrice"
					@input="message = ''"
				/>
			</label>

			<label for="minIncrement">
				Incremento Minimo
				<input
					type="number"
					id="minIncrement"
					name="minIncrement"
					placeholder="0.00"
					step="0.01"
					required
					x-model="minIncrement"
					@input="message = ''"
				/>
			</label>

			<label for="assetId">
				Asset
				<select
					id="assetId"
					name="assetId"
					required
					x-model="assetId"
					@input="message = ''"
				>
					<option value="">Seleziona un asset</option>
				</select>
			</label>

			<div
				x-show="message"
				x-transition.opacity
				role="alert"
				class="pico-background-red-100 pico-color-red-600"
				style="
					padding: 1rem;
					margin-bottom: 1rem;
					border-radius: var(--pico-border-radius);
					border: 1px solid currentColor;
				"
			>
				<strong x-text="message"></strong>
			</div>

			<button type="submit" class="contrast">Crea Asta</button>
		</form>
	</div>
	<div></div>
</article>

{% endblock %}
